.help {
    display: flex;
    height: 100vh;
}

.help .helpPanel {
    height: 100vh;
    width: 81%;
}

.help .helpPanel .header {
    border-bottom: 1px solid #9a9a9a;
}

.help .helpPanel .header p {
    color: #242A35;
    font-size: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 60px;
    margin-bottom: 24px;
}

.help .helpPanel .body {
    background: #F5F7FA;
    display: flex;
    height: 80vh;
}

.help .helpPanel .body h3 {
    padding: 30px 0 0 50px;
}