.optEntryShowCont .countDataEntry {
    display: flex;
}

.optEntryShowCont .countDataEntry .totalDataEntryCount {
    height: 70px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 13px 2px 10px;
    border-radius: 6px;
    background: #008A3B;
    margin: 0 0 30px 50px;
}

.optEntryShowCont .countDataEntry .todayDataEntryCount {
    height: 70px;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 13px 2px 10px;
    border-radius: 6px;
    background: #E3A410;
    margin: 0 0 30px 50px;
}

.optEntryShowCont .countDataEntry p {
    margin: 10px 0 15px 0;
    color: #FFF;
    font-size: 17px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin: 0;
}

.optEntryShowCont h3 {
    margin: 0 0 30px 50px;
}

.optEntryShowCont .inputCont table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optEntryShowCont .inputCont table td {
    padding: 20px 20px;
}

.optEntryShowCont .inputCont table th {
    padding: 10px 20px;
}

.optEntryShowCont .inputCont table td img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #BCCAD8;
    object-fit: cover;
}