.userEditCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}

.userEditCont .inputCont {
    display: flex;
    flex-direction: column;
}

.userEditCont .inputCont input {
    display: flex;
    width: 492px;
    padding: 16px 24px;
    align-items: center;
    gap: 427.75px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #D1DAE6;
    background: #FFF;
    color: #042040;
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 20px;
}


.userEditCont .btnCont {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    /* border: 2px solid; */
}

.userEditCont .btnCont .saveBtn {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    outline: none;
    border-radius: 6px;
    background: #008A3B;
    border: 0;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    margin: 20px 5px 10px 0;
    cursor: pointer;

}

.userEditCont .btnCont .DeleteBtn {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    outline: none;
    border-radius: 6px;
    background: #EA0000;
    border: 0;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0 10px 5px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}