.adminDashBord {
    display: flex;
    height: 100vh;
}

.adminDashBord .adminDashBordPanel {
    height: 100vh;
    width: 81%;
}



.adminDashBord .adminDashBordPanel .header {
    border-bottom: 1px solid #9a9a9a;
}

.adminDashBord .adminDashBordPanel .header p {
    color: #242A35;
    font-size: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 60px;
    margin-bottom: 24px;
}

.adminDashBord .adminDashBordPanel .body {
    background: #F5F7FA;
    height: 88vh;
    overflow-y: scroll;
}

.adminDashBord .adminDashBordPanel .statusCont {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.adminDashBord .adminDashBordPanel .statusCont .adminStatusBox {
    display: flex;
    width: 236px;
    height: 114px;
    padding: 16px 13px 18px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
    cursor: pointer;
}


.adminDashBord .adminDashBordPanel .statusCont .adminStatusBox p:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.adminDashBord .adminDashBordPanel .statusCont .adminStatusBox p:nth-child(2) {
    color: #FFF;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
}


.adminDashBord .adminDashBordPanel .statusCont .adminStatusBox p:nth-child(3) {
    color: #FFF;
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
}

.adminDashBord .adminDashBordPanel .statusCont .totalUsers {
    border-radius: 6px;
    background: #008A3B;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
}


.adminDashBord .adminDashBordPanel .statusCont .totalData {
    border-radius: 6px;
    background: #E3A410;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
}


.adminDashBord .adminDashBordPanel .statusCont .totalAdmin {
    border-radius: 6px;
    background: #A17FEA;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
}


.adminDashBord .adminDashBordPanel .statusCont .totalOperators {
    border-radius: 6px;
    background: #0069EC;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
}


@media(max-width:1450px) {
    .adminDashBord .adminDashBordPanel .statusCont .adminStatusBox {
        width: 165px;
        height: 84px;
    }
}