@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.dataManagement {
    display: flex;
    height: 100vh;
}

.dataManagement .dataManagementPanel {
    height: 100vh;
    width: 81%;
}

.dataManagement .dataManagementPanel .header {
    border-bottom: 1px solid #9a9a9a;
}

.dataManagement .dataManagementPanel .header p {
    color: #242A35;
    font-size: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 60px;
    margin-bottom: 24px;
}

.dataManagement .dataManagementPanel .body {
    background: #F5F7FA;
    height: 88vh;
    overflow-y: scroll;
}

.dataManagement .dataManagementPanel .statusCont {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dataManagement .dataManagementPanel .body .activeAdmin {
    display: flex;
    width: 190px;
    height: 90px;
    padding: 16px 13px 18px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
    cursor: pointer;
    border-radius: 6px;
    background: #A17FEA;
    margin-left: 50px;
}


.dataManagement .dataManagementPanel .body .statusCont .activeAdmin p:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.dataManagement .dataManagementPanel .body .statusCont .activeAdmin p:nth-child(2) {
    color: #FFF;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
}


.dataManagement .dataManagementPanel .body .statusCont .activeAdmin p:nth-child(3) {
    color: #FFF;
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    letter-spacing: 0.2px;
}

.dataManagement .dataManagementPanel .body .inputCont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 80px;
    margin-right: 45px;
}

.dataManagement .dataManagementPanel .body .inputCont .searchCont {
    border: 2px solid #BCCAD8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 10px 12px 24px;
    border-radius: 50px;
    background-color: #FFF;
    margin-right: 5px;
}

.dataManagement .dataManagementPanel .body .inputCont .searchCont input {
    padding: 10px;
    width: 170px;
    height: 12px;
    outline: none;
    border: none;
    color: #000;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
}


.dataManagement .dataManagementPanel .body .inputCont .exportCont {
    border: 2px solid;
    display: flex;
    height: 25px;
    padding: 14px 13px 15px 16px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #BCCAD8;
    background: #627293;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 5px;
}

.dataManagement .dataManagementPanel .body .inputCont .exportCont button {
    color: #FFF;
    background-color: #627293;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
}


.dataManagement .dataManagementPanel .body .inputCont .addEntryCont {
    display: flex;
    padding: 14px 8px 12px 19px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #BCCAD8;
    background: #008A3B;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: 5px;
    cursor: pointer;
}

.dataManagement .dataManagementPanel .body .inputCont .addEntryCont button {
    color: #FFF;
    background-color: #008A3B;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
}

.dataManagement .dataManagementPanel .body .tableCont {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.dataManagement .dataManagementPanel .body .hrlineDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}


.dataManagement .dataManagementPanel .body .hrlineDiv .hrLine {
    border-bottom: 2px solid #BCCAD8;
    width: 90%;
    align-self: center;
}


.dataManagement .dataManagementPanel .body .tableCont .dataEntryCont input {
    outline: none;
    background-color: transparent;
    border: none;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #BCCAD8;
    padding: 10px 0px;
    width: 85%;
}

.dataManagement .dataManagementPanel .body .tableCont .dataEntryCont th:nth-child(1) input {
    border: none;
}


.dataManagement .dataManagementPanel .body .tableCont .dataEntryCont button {
    padding: 8px 15px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
    background: #008A3B;
    color: #FFF;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.dataManagement .dataManagementPanel .body .tableCont .dataEntryCont .UploadedImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.dataManagement .dataManagementPanel .body .tableCont .dataEntryCont .uploadImg {
    cursor: pointer;
}


.dataManagement .dataManagementPanel .body .tableCont table {
    margin-top: 30px;
}

.dataManagement .dataManagementPanel .body .tableCont table th p {
    padding: 0 60px 20px 60px;
    margin: 0;
}


.dataManagement .dataManagementPanel .body .tableCont table td {
    text-align: center;
    padding: 20px 0;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(1) img,
.profileImg {
    height: 60px;
    width: 60px;
    border: 1px solid #BCCAD8;
    border-radius: 50%;
    object-fit: cover;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(2) {
    color: #1B212F;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(3) {
    color: #000;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(5) {
    color: #008A3B;
}

/*
====================================================================================
scroll the table
====================================================================================
*/

.dataManagement .dataManagementPanel .body .tableCont table th:nth-child(1) {
    position: sticky;
    left: 0;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table th:nth-child(2) {
    position: sticky;
    left: 170px;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table th:nth-child(3) {
    position: sticky;
    left: 340px;
    background-color: #F3F3F3;
    padding: 0 50px;
}

.dataManagement .dataManagementPanel .body .tableCont table th:nth-child(4) {
    position: sticky;
    left: 568px;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table th:last-child {
    position: sticky;
    right: 0px;
    background-color: #F3F3F3;
}


.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(1) {
    position: sticky;
    left: 0;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(2) {
    position: sticky;
    left: 170px;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(3) {
    position: sticky;
    left: 340px;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table td:nth-child(4) {
    position: sticky;
    left: 568px;
    background-color: #F3F3F3;
}

.dataManagement .dataManagementPanel .body .tableCont table td:last-child {
    position: sticky;
    right: 0px;
    background-color: #F3F3F3;
}



/*
=====================================================================================
End Scroll of Table
=====================================================================================
*/

.dataManagement .dataManagementPanel .body .tableCont table td:last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 64px;
}

.dataManagement .dataManagementPanel .body .tableCont table td:last-child img {
    cursor: pointer;
}

@media(max-width:1450px) {
    .dataManagement .dataManagementPanel .body .activeAdmin {
        width: 171px;
        height: 85px;
    }

    .dataManagement .dataManagementPanel .statusCont {
        height: 165px;
    }

    .dataManagement .dataManagementPanel .body .inputCont {
        padding-top: 75px;
    }
}