@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.DataEntryOperator {
    display: flex;
    height: 100vh;
}

.DataEntryOperator .dataEntyOperatorPanel {
    height: 100vh;
    width: 81%;
}


.DataEntryOperator .dataEntyOperatorPanel .header {
    border-bottom: 1px solid #9a9a9a;
}


.DataEntryOperator .dataEntyOperatorPanel .header p {
    color: #242A35;
    font-size: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 60px;
    margin-bottom: 24px;
}


.DataEntryOperator .dataEntyOperatorPanel .body {
    background: #F5F7FA;
    height: 88vh;
    overflow-y: scroll;
}

.DataEntryOperator .dataEntyOperatorPanel .statusCont {
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.DataEntryOperator .dataEntyOperatorPanel .body .activeAdmin {
    display: flex;
    width: 205px;
    height: 90px;
    padding: 16px 13px 18px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    box-shadow: 0px 2px 6px 0px rgba(71, 88, 114, 0.10);
    cursor: pointer;
    border-radius: 6px;
    background: #008A3B;
    margin-left: 65px;
}


.DataEntryOperator .dataEntyOperatorPanel .body .statusCont .activeAdmin p:nth-child(1) {
    color: #FFF;
    font-size: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.DataEntryOperator .dataEntyOperatorPanel .body .statusCont .activeAdmin p:nth-child(2) {
    color: #FFF;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
}


.DataEntryOperator .dataEntyOperatorPanel .body .statusCont .activeAdmin p:nth-child(3) {
    color: #FFF;
    font-size: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    letter-spacing: 0.2px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .inputCont {
    padding-top: 70px;
    margin-right: 70px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .inputCont .addEntryCont {
    display: flex;
    padding: 14px 8px 12px 19px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #BCCAD8;
    background: #008A3B;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: 5px;
    cursor: pointer;
}

.DataEntryOperator .dataEntyOperatorPanel .body .inputCont .addEntryCont button {
    color: #FFF;
    background-color: #008A3B;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont {
    display: flex;
    flex-direction: column;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont .permitions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont .permitions p:nth-child(1) {
    margin-right: 36px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont .hrLine {
    border-bottom: 2px solid #BCCAD8;
    width: 90%;
    align-self: center;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table {
    margin-top: 30px;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table th {
    padding-bottom: 20px;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td {
    text-align: center;
    padding: 20px 0;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(1) {
    color: #1B212F;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(2) {
    color: #000;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(4) {
    color: #008A3B;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(5) img {
    cursor: pointer;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(6) label:nth-child(1) {
    margin-right: 10px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont table td:nth-child(6) label:nth-child(2) {
    margin-left: 10px;
}

.DataEntryOperator .dataEntyOperatorPanel .body .tableCont .dataEntryCont input {
    outline: none;
    background-color: transparent;
    border: none;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #BCCAD8;
    padding: 10px 0px;
    width: 75%;
}


.DataEntryOperator .dataEntyOperatorPanel .body .tableCont .dataEntryCont button {
    padding: 8px 15px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
    background: #008A3B;
    color: #FFF;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

/*Toggle button css (coppyed from w3 school) updated by Martian Corporation*/


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #008A3B;
}

input:focus+.slider {
    box-shadow: 0 0 1px #008A3B;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media(max-width:1450px) {
    .DataEntryOperator .dataEntyOperatorPanel .body .activeAdmin {
        width: 193px;
        height: 85px;
    }

    .DataEntryOperator .dataEntyOperatorPanel .statusCont {
        height: 165px;
    }

    .DataEntryOperator .dataEntyOperatorPanel .body .inputCont {
        padding-top: 75px;
    }
}