@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.dataSettings {
    display: flex;
    height: 100vh;
}

.dataSettings .dataSettingspanel {
    height: 100vh;
    width: 81%;
}

.dataSettings .dataSettingspanel .body {
    background: #F5F7FA;
    height: 88vh;
    overflow-y: scroll;
}

.dataSettings .dataSettingspanel .header {
    border-bottom: 1px solid #9a9a9a;
}

.dataSettings .dataSettingspanel .header p {
    color: #242A35;
    font-size: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 60px;
    margin-bottom: 24px;
}

.dataSettings .dataSettingspanel .body .title {
    padding: 50px 0 0 55px;
}

.dataSettings .dataSettingspanel .body .title h3 {
    color: #042040;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.dataSettings .dataSettingspanel .body .columnCont {
    padding: 20px 0 0 55px;
}

.dataSettings .dataSettingspanel .body .columnCont .column {
    display: flex;
}

.dataSettings .dataSettingspanel .body .columnCont .column p {
    display: flex;
    width: 400px;
    padding: 16px 24px;
    align-items: center;
    gap: 427.75px;
    border-radius: 8px;
    border: 1px solid #D1DAE6;
    background: #FFF;
    margin-right: 15px;
    color: #042040;
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
}

.dataSettings .dataSettingspanel .body .columnCont .column img {
    cursor: pointer;
}

.dataSettings .dataSettingspanel .body .addColumnCont {
    width: 545px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dataSettings .dataSettingspanel .body .addColumnCont button {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #008A3B;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-right: 45px;
}

.dataSettings .dataSettingspanel .body .columnCont .column input {
    display: flex;
    width: 400px;
    padding: 16px 24px;
    align-items: center;
    gap: 427.75px;
    border-radius: 8px;
    border: 1px solid #D1DAE6;
    background: #FFF;
    margin-right: 15px;
    color: #042040;
    font-size: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    outline: none;
    margin-top: 10px;
}

.dataSettings .dataSettingspanel .body .columnCont .column button {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #008A3B;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 20px;
}