@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.approvedCont {
    display: flex;
    flex-direction: column;
}

.approvedCont .hrLine {
    border-bottom: 2px solid #BCCAD8;
    width: 90%;
    padding-top: 50px;
    align-self: center;
}

.approvedCont table {
    margin-top: 30px;
}


.approvedCont table th {
    padding-bottom: 20px;
}


.approvedCont table td {
    text-align: center;
    padding: 20px 0;
}

.approvedCont table td:nth-child(1) {
    color: #1B212F;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.approvedCont table td:nth-child(2) {
    color: #000;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}


.approvedCont table td:nth-child(5) {
    color: #00d55b;
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.4px;
}


.approvedCont table td:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.approvedCont table td:nth-child(7) img {
    cursor: pointer;
}