.rejectedCont {
    display: flex;
    flex-direction: column;
}


.rejectedCont .hrLine {
    border-bottom: 2px solid #BCCAD8;
    width: 90%;
    padding-top: 50px;
    align-self: center;
}

.rejectedCont table {
    margin-top: 30px;
}


.rejectedCont table th {
    padding-bottom: 20px;
}


.rejectedCont table td {
    text-align: center;
    padding: 20px 0;
}

.rejectedCont table td:nth-child(1) {
    color: #1B212F;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}


.rejectedCont table td:nth-child(2) {
    color: #000;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.4px;
}


.rejectedCont table td:nth-child(5) {
    color: #EA0000;
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.rejectedCont table .approveBtn {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #008A3B;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'sans-serif', 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.rejectedCont table .rejectBtn {
    display: inline-flex;
    height: 40px;
    padding: 9.797px 20.453px 11.203px 20.016px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    background: #E3A410;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'sans-serif', 'Inter';
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}